.DS_Store
.idea/
.history/
*.pyc
build/
dist/
tsdat.egg-info
.pytest_cache/
htmlcov/
coverage.xml
.coverage
typings/
.mypy_cache/
storage/root/
/cds3/core.c
/cds3/core.cpython-39-x86_64-linux-gnu.so
/cds3/enums.c
/cds3/enums.cpython-39-x86_64-linux-gnu.so
/cds3/core.c
/cds3/core.cpython-39-x86_64-linux-gnu.so
/cds3/enums.c
/cds3/enums.cpython-39-x86_64-linux-gnu.so
/trans/core.c
/trans/core.cpython-39-x86_64-linux-gnu.so
/dsproc3/core.c
/cds3/core.pypy39-pp73-x86_64-linux-gnu.so
/dsproc3/core.pypy39-pp73-x86_64-linux-gnu.so
/trans/core.pypy39-pp73-x86_64-linux-gnu.so
/dsproc3/enums.c
/cds3/enums.pypy39-pp73-x86_64-linux-gnu.so
/dsproc3/enums.pypy39-pp73-x86_64-linux-gnu.so
