
storage:
  classname:  tsdat.io.FilesystemStorage
  parameters:
    retain_input_files: True
    root_dir: $CONFIG_DIR/../storage/root

  file_handlers:
    input:
      imu:
        file_pattern: '.*\.sta'
        classname: pipeline.sta_filehandler.StaFileHandler

    output:
      netcdf:
        file_extension: '.nc'
        classname: tsdat.io.filehandlers.NetCdfHandler
