:root {
  --md-tooltip-width: 750px;
}

.md-typeset h1 {
    font-size: 45px;
    font-weight: 500;
  }

.md-typeset h2 {
    font-size: 36px;
    font-weight: 500;
  }

  .md-typeset h3 {
    font-size: 26px;
    font-weight: 500;
  }
